/* Rubik font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--sfss-red: #ae2024;
	--sfss-red-light: #ee6064;
	--sfss-red-lighter: #ffa0a4;
	--sfss-blue: #005e8a;
}

h1.title {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 16pt;
	white-space: nowrap;
}

h1.title b {
	font-weight: 700;
}

.mdb-button.primary .mdb-icon {
	--mdb-icon-stroke-width: 3px;
}

input {
	height: 24px;
	line-height: 24px;
	font-size: 14pt;
	background-color: #f8f8f8;
	padding: 4px 8px;
	border: solid 1px #a0a0a0;
	border-radius: 4px;
}

input::placeholder {
	font-style: italic;
}
